/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.temp
!/vendor/laravel/framework/src/Illuminate/Auth/*
!/vendor/laravel/framework/src/Illuminate/Foundation/Auth/
/vendor
