@import "mixin";

.table {
    width: 100%;
    .success-message{
        width: 100%;
        background: rgb(77, 192, 181);
        color: rgb(43, 149, 52);
        padding: 2em;
        font-size: 1.3rem;
    }

    .tr{
        border-radius: 1em;
        background: white;
        box-shadow: 1px 1px 16px #564141;
        margin:4em 0;
        @include flex-col-justify-between;
        justify-content: flex-start;

        .header {
            @include flex-row-between;
            background: #81c6c0d9;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            padding: 1em 2em;

            .operations {
                @include flex-col-justify-between;
                height: 5em;

                img {
                    @include thumbnail-size(1.5em, 1.5em);
                }
            }

            .fields {
                @include flex-row-between;

                img {
                    @include thumbnail(4em, 4em);
                }

                span {
                    font-size: 1.2rem;
                    margin-left: 1em;
                }
            }
        }

        .body {
            @include flex-col-justify-between;


            .player-info{
                @include flex-col-justify-between;
                margin:0 2em;
            }

            .col {
                @include flex-row-between;
                font-size: 1rem;
                justify-content: flex-start;
                margin: .5em 0;

                span {
                    text-transform: capitalize;
                }
            }

            .bio {
                margin:2em;
            }
        }
    }

}

@media all and (min-width: 768px) {
    .table {
        box-shadow: 1px 1px 16px #564141;
        .tr{
            @include flex-row-center;
            justify-content: flex-start;

            border-radius: 0;
            margin: 0;
            box-shadow:none;

            .header{

                border-radius: 0;
                flex-direction: row-reverse;
                justify-content: flex-end;

                .fields {
                    @include flex-col-justify-between;
                    align-items: flex-start;
                    margin-left: 2.5em;
                    height: 6em;

                    span {

                        margin-left: 0em;
                    }
                }

            }
            .body{
                @include flex-row-between;
                padding: 0 1em;
                .player-info{

                }

                .bio{
                    margin-top: 0;
                }

            }
        }

        .tr:nth-child(even){
            background: #c4c4c4;
        }

    }
}


@media all and (min-width: 1024px) {
    .table {
        .tr{
            .header{

            }
        }
    }
}

@media all and (min-width: 1280px) {
    .table {
        .tr{
            .header{

            }
        }
    }
}

