// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'table';
@import "mixin";

[v-cloak] {
    display: none !important;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.41);
    opacity: 1; /* Firefox */
    text-transform: uppercase;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(114, 86, 57, 0.58);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(114, 86, 57, 0.58);
}

html{
    font-size: 12px;
}

body{

    background: $blue;
    background: linear-gradient(#A5C197, #495145);
    color: black;
    font-family: 'Nunito', sans-serif;

    ul{
        list-style: none;
    };

    a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.help-block{
    color: red;
}

.menu-icon{
    @include flex-col-justify-between;
    height: 1em;
    position: absolute;
    top:3em;
    left: 3em;
    cursor: pointer;
    opacity: .5;
    z-index: 9999999;
}

.menu-icon:hover{
    opacity: 1;
}

.menu-line{
    width: 3em;
    height: 1px;
    border: 1px solid;

    transform: rotate(0deg);
    transition: transform .5s ease;
}

.menu-line1{
    position: absolute;
    transform: rotate(35deg);
    transition: transform .5s ease;
}
.menu-line2{
    position: absolute;
    transform: rotate(-35deg);
    transition: transform .5s ease;
}

.menu-line1-off{
    position: absolute;
    transform: translateY(-5px) rotate(0deg);
    transition: transform .5s  ease;
}
.menu-line2-off{
    position: absolute;
    transform: translateY(5px) rotate(0deg);
    transition: transform .5s ease;
}

main{
    display: flex;
    flex-direction: row;
    .sidebar{
        width: 40vw;
        position: fixed;
        z-index: 999;
        left: 0;
        height: 100vh;
        background: rgba(15, 108, 123, 0.9);
        transform: translateX(-50vw);
        transition: transform .3s  ease-in;
        @include flex-col-center;

        .sidebar-wrapper{

            ul{
                @include flex-col-justify-between;
                height: 14em;

                li{
                    a{
                        font-size: 1.5rem;
                        color: white;
                    }
                }
            }
        }
    }

    .show-menu{
        transform: translateX(0vw);
        transition: transform .5s  ease-out;
    }

    .logo{
        position: fixed;
        right: 1em;
        top: 1em;
        width: 4em;
        z-index: 9999;
    }

    .container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        right: 0;
        background: linear-gradient(#A5C197, #495145);
        overflow: scroll;


    }
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 2em;
        position: relative;
        top:10%;

        .new-player{
            margin-bottom: 1em;
        }

        .team-item{
           @include soft-box;
            border-radius: 1em;
            margin-bottom: 4em;
            transform: translate3d(0px,0px,0px) scale(1);
            transition: all 0.3s ease-in-out;

        @include flex-col-center;

            img{
                width:10em;
            }

            ul{
                @include flex-row-between;

                height: 6em;
                li{
                    height: 3.5em;
                    width: 3.5em;
                    object-fit: contain;
                    border-radius: 50%;
                    border: 1px solid gold;
                    margin-left: -0.8em;
                };

                li:first-child{
                    margin-left: 0;
                }
            };

            a{
               @include m-button;
            };
            a:hover{
                opacity: 1;
            }
        };

        .team-item:hover{
            box-shadow: 1px 2px 7px #564141;
            transform: translate3d(1px,1px,1px) scale(1.015);
            transition: all 0.3s ease-in-out;
        }

        form{
            @include flex-col-center;
            @include soft-box;
            box-shadow: 1px 2px 7px #564141;

            input{
                border: none;
                outline: none;
                padding: 0.5em 0em;
                border-bottom: 1px solid #0000005e;
                text-align: left;
                margin: 1em 0;
                font-size: 1.1rem;
                width: 80%;
            }

            button{
                @include m-button;
                margin-top: 2em;
            }
        }

        .team-wrapper{
            @include flex-col-justify-between;

            height: 32em;
            max-width: 50em;
            font-size: 1.2rem;
            img{
                width: 8em;
            }
            h1{
                color: white;
            }
            h2{
                color: #333333;
            }
            p{
                text-align: justify;
                font-size: .9rem;
                line-height: 1.5em;
                margin-top: 1em;
            }
            .players-section{
                @include flex-row-between;
                flex-wrap: wrap;
                margin-top: 1em;

                .player-item{
                    @include flex-col-center;
                    padding: 0.7em 0.4em 2em;
                    background: white;
                    border-radius: 1.5em;
                    div{
                        height: 4.5em;
                        width: 4.5em;
                        object-fit: contain;
                        border-radius: 1.3em;
                    }
                    span{
                        margin-top: 1em;
                    }
                }
                .player-item:nth-child(3n-1){
                    margin:1em;
                }
            }

            h3{
                margin-top: 1em;
                padding-top: 1em;
                border-top: 1px solid;
            }
        }

        .player-wrapper{
            @include flex-col-justify-between;
            height: 32em;
            max-width: 50em;
            font-size: 1.2rem;

            color:white;
            img{

                object-fit: cover;
                object-position: center;
                width: 100%;
            }

            h3{
                color: black;
            }
            p{
                color: #333333;
                text-align: justify;
                font-size: 1rem;
                line-height: 1.5em;
                margin-top: 1em;
            }
            .teams-section{
                @include flex-row-between;
                flex-wrap: wrap;

                .teams-section-item{
                    @include flex-col-center;
                    padding: 0.7em 0.4em 2em;

                    div{
                        height: 6em;
                        width: 6em;
                    }
                    span{
                        margin-top: 1em;
                    }
                }
                .teams-section-item:nth-child(3n-1){
                    margin:1em;
                }
            }

            h3{
                margin-top: 1em;
                padding-top: 1em;
                border-top: 1px solid;
            }
        }

        .player-form{
            background: none;
            box-shadow: none;

            .upload-area{
                @include flex-col-center;
                cursor: pointer;
                opacity: .8;

                .img-thumbnail{
                    @include thumbnail(8em,8em);
                }

                .img-upload{
                    width: 2em;
                    margin-top: -1em;
                }
            }

            .upload-area:hover{
                opacity: 1;
            }

            .edit-area{
                width: 100%;
            }

            .submit-area{
                @include flex-row-between;
                width: 50%;
                margin-top: 2em;

                img{
                    width: 4em;
                    box-shadow: 1px 2px 6px #1a1a1aa8;
                    cursor: pointer;
                    border-radius: 50%;
                    opacity: 0.7;
                }

                img:hover{
                    opacity: 1;
                }
            }


            input{
                background: none;
                border-bottom: 1px solid #ffffff94;
                width: 100%;

            }
            textarea{
                background-attachment: local;
                background: none;
                background-image:repeating-linear-gradient(transparent, transparent 33px, #ffffff94, #ffffff94, transparent 34px);
                border: none;
                outline: none;
                text-align: left;
                resize: none;
                line-height: 3em;
                height: 12em;
                width: 100%;
            }

        }
    }
}


@media all and(min-width: 320px) {
    html{
        font-size: 12px;
    }
}

@media all and(min-width: 768px) {

    main {
        .content{
           @include flex-row-around;
            justify-content: start;

            form{
                justify-content: space-around;
                margin: 0 auto;
                width: 60%;
                height: 50em;
            }

            .player-wrapper{
                img{
                    width: 33%;
                    border-radius: 50%;
                }
            }

            .team-item{
                margin: 1em;
                padding: 3em 6em;
            }
        }
        .sidebar{
            top: 0;
            transform: translateY(-50vw);
            transition: transform .3s  ease-in;
            @include flex-row-center;
            height: 10vh;
            width: 100%;

            .sidebar-wrapper{
                ul{
                    @include flex-row-between;
                    width: 30em;
                    height: 0;
                }
            }
        }
        .show-menu{
            transform: translateY(0vw);
            transition: transform .5s  ease-out;
        }
    }
}

@media all and(min-width: 1024px) {
    main{
        .content {
            justify-content: space-around;
        }
    }

}

@media all and(min-width: 1280px) {

    main {
        .content {
            @include flex-row-around;

            form{
                justify-content: space-around;
                margin: 0 auto;
                width: 40%;
            }

        }
    }
}
